.filaContainer {
    background-color: #1f2027;
    padding: 15px 0;
    font-size: 16px;
    display: grid;
    grid-template-columns:50px repeat(6,minmax(160px,240px));
    justify-items: center;
    border-top: 1px solid #2e2e2e;

}
.filaContainer:hover {
    background-color: #2e2e2e ;
    cursor: pointer;
}
.filaCheckbox {
    display: flex;
    align-items: center;
}
.checkbox{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: black;
}
.detalle, .detalleDate {
    color: var(--gris-claro);
    font-size: 14px;
}
.transactionIcon {
    width: 180px;
    display: flex;
    
}
.transactionIcon figure {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnEstado {
    padding: 4px 8px;
    border-radius: 14px;
    color: var(--color-grisMedio);
    font-size: 12px;
    font-weight: bold;
}
