.circleVerifi.activeOption {
    display: none;
}
.cashOut {
  width: 100%;
  height: 70px;
  padding: 0 12px;
  margin-top: 20px;
  background-color: var(--black);
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: var(--white);
  border: none;
}
.cashOut figure {
  width: 50px;
  height: 40px;
  margin-right: 12px;
  border-radius: 8px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.circleVerifi {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-grisMedio);
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
}
.cashOutDescription span {
  font-size: 14px;
}
.cashOutDescription p {
  padding-top: 6px;
  font-size: 12px;
  color: var(--gris-claro);
  font-style: italic;
  text-align: initial;
}
